@define-color bar-bg rgba(16,20,25,0);
@define-color main-bg rgba(16,20,25,0.8);
@define-color main-fg rgba(170,201,240,0.8);
@define-color wb-act-bg rgba(119,184,148,0.4);
@define-color wb-act-fg rgba(204,255,227,1);
@define-color wb-hvr-bg rgba(75,95,125,0.4);
@define-color wb-hvr-fg rgba(170,197,240,0.8);
